@use "variables" as *;
table {
    width: 100%;
    border-collapse: collapse;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  
    th,
    td {
      border: 1px solid $table-border;
      padding: 10px;
      text-align: left;
    }
  
    th {
      background: $primary-color;
      color: white;
    }
}
