    // Màu sắc
    $primary-color: #3498db;
    $secondary-color: #1e3c72;
    $accent-color: #f8b400;
    $danger-color: #e74c3c;

    $body-bg: #f4f4f4;
    $text-color: #333;
    $table-border: #ddd;
    $footer-bg: #222;
    $footer-text: #bbb;

    // Font
    $font-main: "Poppins", sans-serif;


